# Django settings
DJANGO_SECRET_KEY='Секретный ключ от приложения'
DJANGO_DEBUG='1 - режим debug, 0 - продакшен'
DJANGO_LOGLEVEL='Уровень логирования INFO, ERROR ...'
DJANGO_ALLOWED_HOSTS='IP сервера'
DJANGO_DOMAIN='Домен сервера, на котором работает django с протоколом подключения'

# Database settings
POSTGRES_USER='Пользователь БД'
POSTGRES_PASSWORD='Пароль пользовавтеля'
POSTGRES_DB='Название БД'
POSTGRES_PORT='Порт БД'
